@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Poppins;
}

.gradient-text {
  background: linear-gradient(90deg, #FF8660, #9A33FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rounded-50 {
  border-radius: 50px;
}

.marginb-40 { 
  margin-bottom: 40px;
}


@media (min-width: 768px) {
  .nav-link {
    margin-right: 71px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.opacity-0 {
  opacity: 0;
}
